---

---
@charset "utf-8";

$base-font-family: 'Karla', Helvetica, Arial, sans-serif;
$base-font-size:    62.5%;

$ms-base:           1.4em;
$ms-ratio:          1.125;

$sp:                0.8rem;
$sp2:               1.6rem;

$primary:           #1E76F2;
$grey:              #858A9A;
$black:             #2C2E2F;

@import
  "normalize",
  "base"
;
