<header class="site-header">


  <a href="/" class="logo"><svg  class="logo__symbol" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.1"><title>Jeremie Spoken Logo</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#FFFFFF" x="0" y="0" width="32" height="32"/><path d="M13 4L15 3 15 22 13 22 13 4Z" fill="#1E76F2"/><rect fill="#1E76F2" x="18" y="10" width="2" height="19"/><path d="M27.3 23.9C30.5 19.4 30.7 13.3 27.4 8.5 24 3.7 18.2 1.8 12.9 3.3L27.3 23.9 27.3 23.9 27.3 23.9ZM20 29C14.7 30.5 8.8 28.6 5.5 23.8 2.2 19.1 2.4 12.9 5.6 8.4L20 29 20 29 20 29Z" stroke="#1E76F2" stroke-width="2" fill="#FFFFFF"/></g></svg></a>

{% for page in site.pages %}
  {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  {% endif %}
{% endfor %}
</header>
