html
{
    font-size: $base-font-size;

    @media screen and (min-width: $break-medium) {
        font-size: 75%;
    }

    @media screen and (min-width: $break-large) {
        font-size: 100%;
    }
}

body
{
    font-family: $base-font-family;
    font-size: 1.4rem;
    line-height: $sp * 3;

    margin: 0 auto;
    padding: 0 $sp * 3;

    color: $grey;
    background: white;
}

h1
{
    font-size: $sp * 3;
    line-height: $sp * 4;

    margin-top: $sp;
    margin-bottom: $sp;
}

h2
{
    font-size: 1.8rem;
    line-height: $sp * 4;

    margin-top: $sp;
    margin-bottom: $sp;
}

h3
{
    font-size: 1.6rem;
    line-height: $sp * 3;

    margin-top: $sp;
    margin-bottom: $sp;
}

h4
{
    font-size: 1.2rem;
    line-height: $sp * 3;

    margin-top: $sp;
    margin-bottom: $sp;

    text-transform: uppercase;
}

h1,
h2,
h3,
h4
{
    color: $black;
}


ul
{
    padding: 0;

    list-style: none;
}

img
{
    width: 100%;
}

p
{
    margin: 0 0 $sp2 0;
}

a
{
    text-decoration: none;

    color: $primary;
}

a:hover
{
    color: lighten($primary, 50%);
}


// SITE
.logo
{
    width: 3.2rem;
    height: 3.2rem;
}
.site-header
{
    display: flex;

    height: $sp2*6;
    margin-bottom: $sp2;

    justify-content: space-between;
    align-items: center;
}

.page-link
{
    font-size: 1.2rem;
    font-weight: bold;

    text-transform: uppercase;

    color: $black;
}

// HOME
.home__post
{
    margin-bottom: $sp2 * 2;
}

.home__post-link
{
    color: $black;
}

// POST
.post-header
{
    margin-bottom: $sp2;
}

.post-meta
{
    font-size: 1.2rem;

    margin: 0;

    text-transform: uppercase;

    color: $grey;
}

// FOOTER
.site-footer
{
    padding: $sp2;

    color: $black;
    background: #eff0f3;
}
