html
{
    font-size: $base-font-size;
}

body
{
    font-family: $base-font-family;
    font-size: 1.4rem;
    line-height: $sp * 3;

    margin: 0 auto;
    padding: 0 $sp2;

    color: $grey;
    background: white;
}

h1
{
    font-size: $sp * 3;
    line-height: $sp * 4;

    margin-top: $sp;
    margin-bottom: $sp;
}

h2
{
    font-size: 1.8rem;
    line-height: $sp * 4;

    margin-top: $sp;
    margin-bottom: $sp;
}

h3
{
    font-size: 1.6rem;
    line-height: $sp * 3;

    margin-top: $sp;
    margin-bottom: $sp;
}

h4
{
    font-size: 1.2rem;
    line-height: $sp * 3;

    margin-top: $sp;
    margin-bottom: $sp;

    text-transform: uppercase;
}


ul
{
    padding: 0;

    list-style: none;
}

img
{
    width: 100%;
}

p
{
    margin: 0 0 $sp2 0;
}

a
{
    text-decoration: none;

    color: $primary;
}

a:hover
{
    color: lighten($primary, 50%);
}


// SITE
.site-header
{
    display: flex;

    height: $sp2*4;
    margin-bottom: $sp2;

    text-align: center;

    align-items: center;
}

// HEADER
.page-link {
    text-align: right;
}

// HOME
.home__post
{
    margin-bottom: $sp2 * 2;
}

.home__post-link {
    color: $black;
}

// POST
.post-header
{
    margin-bottom: $sp2;
}

.post-meta
{
    font-size: 1.2rem;

    margin: 0;

    text-transform: uppercase;

    color: $grey;
}
